body {
    background-image: url("https://github.com/Logan102344/Discord-Background/blob/main/The%20End.png?raw=true") !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}
